{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
    <div> 
        <header>
            <img src="{% static 'img/logo1.png' %}" alt="logo1" id="logo1">    
        </header>
    </div>
    <div>
        <main>
            {% block main %} {% endblock %}
        </main>
    </div>
    <div>
        <footer>
            <p class="derechos">© 2025 Mundo Bovino. Todos los derechos reservados.</p>
            <div class="soporte">
                <button id="soporte" onclick="window.location.href='{% url 'preguntasfrecuentes' %}';"> FAQ </button>
            </div>
        </footer>
    </div>
    <!-- JavaScript de Bootstrap y dependencias -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>